*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: #007bff;
}

.start-btn,
.info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* start quiz button styling */
.start-btn button {
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
}

.info-box {
    display: none;
    width: 540px;
    background: #ffffff;
    border-radius: 5px;
}

.info-box .info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info-box .info-list {
    padding: 15px 35px;
}

.info-box .info-list .info {
    margin:  5px 0;
    font-size: 17px;
}

.info-box .info-list .info span {
    font-weight: 600;
    color: #007bff;
}

.info-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}

.info-box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.quit {
    color: #007bff;
}

.buttons button.quit:hover {
    color: #ffffff;
    background: #007bff;
}

.buttons button.restart {
    color: #ffffff;
    background-color: #007bff;
}

.buttons button.restart:hover {
    background: #0263ca;
}